<div>
  <div class="wrapper">
    <mat-toolbar color="primary">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" [class.mat-elevation-z6]="true">
        <div fxFlex="30" fxLayout="row">
          <a href="" mat-button>Flixify</a>
          <a routerLink="newuser"  routerLinkActive="active" mat-button fxHide fxShow.gt-sm>New User</a>
          <a routerLink="existinguser" routerLinkActive="active" mat-button fxHide fxShow.gt-sm>Existing User</a>
        </div>
        <div fxFlex="40" fxLayout="row" fxLayoutAlign="center center">
          <h2 class="caption" fxHide fxShow.gt-sm>Discover movies that make you say “Hemazing!”</h2>
        </div>
        <div fxFlex="30" fxLayout="row" fxLayoutAlign="end center">
          <button  mat-button (click)="openRepo()">GitHub</button> </div>
      </mat-toolbar-row>
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" fxHide.gt-sm>
        <a routerLink="newuser" routerLinkActive="active" mat-button>New User</a>
        <a routerLink="existinguser" routerLinkActive="active" mat-button>Existing User</a>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>

<div>
  <router-outlet></router-outlet>
</div>