<div>
  <div>
    <mat-toolbar color="primary" style="width:100%;height: 200px;">
      <mat-toolbar-row>
        <div class="welcome-div" style="width:100%">
          <h5 class="caption"></h5>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div style="padding-top:30px; padding-left:20px">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <app-rating-distribution></app-rating-distribution>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>