<div>
  <div>
    <mat-toolbar color="primary" style="width:100%;height: 200px;">
      <mat-toolbar-row>
        <div class="welcome-div" style="width:100%">
          <h5 class="caption"></h5>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div  class="row container-fluid" style="padding-top:30px; padding-left:15px">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <app-rating-distribution></app-rating-distribution>
    </div>
    <div class="col-lg-8 col-md-6 col-sm-12">
      <app-genre-treemap></app-genre-treemap>
    </div>
  </div>
  <div class="row container-fluid" style="padding-top:30px; padding-left:15px">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <app-movie-piechart></app-movie-piechart>
    </div>
    <div class="col-lg-8 col-md-6 col-sm-12">
      <app-movie-popularity-line-chart></app-movie-popularity-line-chart>
    </div>
  </div>
  <div class="row container-fluid" style="padding-top:30px; padding-left:15px">
  </div>
</div>